<li>
    <div class="input-holder">
        <span class="title">From</span>
        <div class="input">
            {{ form_widget(form.departure) }}
        </div>
    </div>
    <div class="input-holder">
        <span class="title">To</span>
        <div class="input">
            {{ form_widget(form.arrival) }}
        </div>
    </div>
    <div class="input-holder small">
        <span class="title">Number of pax</span>
        <div class="input">
            {{ form_widget(form.totalPax) }}
        </div>
    </div>
    <a href="#" class="delete"><i></i></a>
</li>