<li>
    {{ form_row(form.oneWay) }}
    <div class="input-holder">
        <span class="title">Arrival</span>
        <div class="input">
            {{ form_widget(form.airportArrival) }}
        </div>
    </div>
    <div class="input-holder">
        <span class="title">Departure</span>
        <div class="input">
            {{ form_widget(form.airportDeparture) }}
        </div>
    </div>
    <div class="input-holder small">
        <span class="title">Number of pax</span>
        <div class="input">
            {{ form_widget(form.totalPax) }}
        </div>
    </div>
    <a href="#" class="delete"><i></i></a>
</li>