<li>
    <a href="#" class="delete">Delete</a>
    <div class="item select-holder">
        {{ form_widget(form.type) }}
    </div>
    <div class="item input">
        {{ form_widget(form.price) }}
        <span class="behavior-title"></span>
    </div>
</li>