<div class="hotel-contact-container">
    <div class="col-row">

        <div class="col l-3">
            <div class="row">
                {{ form_widget(form.department) }}
            </div>
        </div>
        <div class="col l-2">
            <div class="row">
                {{ form_widget(form.phone) }}
            </div>
        </div>
        <div class="col l-3">
            <div class="row">
                {{ form_widget(form.email) }}
            </div>
        </div>
        <div class="col l-3">
            <div class="row">
                {{ form_widget(form.comment) }}
            </div>
        </div>
        <div class="col l-1">
            <div class="row">
                <a href="#" class="delete">Delete</a>
            </div>
        </div>
    </div>
</div>