{% extends '@AltezzaTravel/layout_blank.html.twig' %}

{% block container %}
    <form action="#" class="admin-edit blog-edit">
        <fieldset>
            {% include '@AltezzaTravel/tour/calculation/_calculation_summary.html.twig' %}
        </fieldset>
    </form>
{% endblock %}
