{% extends '@AltezzaTravel/layout_hotels.html.twig' %}

{% block container %}
    <div class="admin-edit blog-edit">
        <fieldset>
            {% block right_sidebar %}
                {% include "@AltezzaTravel/hotels/_partial/hotel_menu_aside.html.twig" %}
            {% endblock %}

            <div class="blog-content">
                {% block content %}{% endblock %}
            </div>
        </fieldset>
    </div>
{% endblock %}

{% block popup_holder %}
    {{ parent() }}

    <div class="popup-holder confirm-popup" id="confirm-popup2" style="display:none;">
        <div class="bg">&nbsp;</div>
        <div class="popup">
            <h2>Вы покидаете страницу Price, сохранить изменения?</h2>
            <div class="btn-panel">
                <a href="#" class="button btn-warn">Нет</a>
                <a href="#" class="button btn-success btn-success-filled close-popup">Сохранить</a>
            </div>
        </div>
    </div>

    {% if hotel is defined and hotel.id is not null %}
        <div class="popup-holder" id="confirm-popup" style="display:none;">
            <div class="bg">&nbsp;</div>
            <div class="popup">
                <h2>Are you sure you want to delete this hotel?</h2>
                <div class="btn-panel">
                    <a href="{{ url('hotels_remove', {'hotel': hotel.id}) }}" class="button btn-warn btn-delete-hotel">Yes</a>
                    <a href="#" class="button btn-success close-popup">No, I did not want to :(</a>
                </div>
            </div>
        </div>


        <div class="popup-holder" id="delete-year-popup" style="display:none;">
            <div class="bg">&nbsp;</div>
            <div class="popup">
                <h2>Are you sure you want to delete this year?</h2>
                <div class="btn-panel">
                    <a href="#" class="button btn-warn" id="confirm-delete-year">Yes</a>
                    <a href="#" class="button btn-success close-popup">No, I did not want to :(</a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('/bundles/altezzatravel/admin/js/custom.js') }}?v=20181219" defer></script>
{% endblock %}
